:root {
    --primary-color: #17bf30;
    --button-padding-horizontal: 15px;
    --button-padding-vertical: 5px;
    --button-font-size: 24px;
    --button-radius: 10px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none; /* no underline */
}

a:visited {
    color: black;
}